.top-home-cont {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dfc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-boy-img {
  position: absolute;
  height: 100vh;
  background-image: url(../../public/boy.png);
  width: 20vw;
  background-repeat: no-repeat;
  background-size: contain;
  right: 0;
}
/* .home-boy-img::before {
  content: ' ';
  background-image: url('../../public/boy.png');
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  top: -15vh;
  left: 0;
} */
.neu-btn-style{
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
}

.neu-btn {
  /* border-radius: 1rem; */
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFFFFF;
  width: 5vw;
  padding: 1vw;
  border-radius: 0.5rem;
}

.neu-btn:hover {
  transform: scale(1.05);
  /* font-weight: bold; */
  color: darkcyan;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1);
  /* border: solid red 1px; */
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 350px;
  position: relative;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
  border-radius: 10px;
}

.bottom-home-cont {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  height: 2vw;
  width: 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
}

.wts {
  background-image: url(../assest/logos/whatsapp-brands.svg);
}

.mail {
  background-image: url(../assest/logos/envelope-solid.svg);
}

.linkedin {
  background-image: url(../assest/logos/linkedin-brands.svg)
}

.call {
  background-image: url(../assest/logos/phone-solid.svg);
}

.github {
  background-image: url(../assest/logos/github-brands.svg);
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black
}

.contact-frame .neu-btn:hover{
  border-radius: 50%;
  border: solid #646a649e 1px;
}

@media screen and (max-width:768px) {

  .top-home-cont {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    /* font-size: 15px; */
    position: relative;
  }

  .top-home-cont .neu-btn {
    width: 50vw !important;
    font-size: 15px;
  }

  .contact-frame .frame{
    width: 90vw;
    font-size: 15px;
  }

  .contact-frame .neu-btn{
    width: 10vw!important;
    height: 10vw!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-boy-img::before {
    display: none;
  }

  .contact-frame .logos {
    height: 5vw!important;
    width: 5vw!important;
    background-size: contain;
    background-repeat: no-repeat;
    /* color: red; */
}

.cv-download{
  height: 6vh;
  font-size: 15px;
}
}