@media screen and (max-width:768px) {
    .card{
        width: 90vw;
        height: 60vw;
        padding: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3vh 5vh;
    }

    .box{
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    }

    .card:hover .box{
        width: 90%;
    }
    .card:hover h2{
    top: -20px;
    }

}