/* .App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  width: 100%;
  position: absolute;
} */

body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  font-size: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3), -2px -2px 4px rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.f3 {
  font-size: 1.5em;
  font-weight: 900;
  color: dimgray;
}

.f4 {
  font-size: 2em;
  font-weight: 900;
  color: dimgray;
}

.f2 {
  font-size: 1.2em;
  color: black;
}

.f1 {
  font-size: 0.9em;
  color: black;
}

.dp {
  width: 78vw;
  height: 100%;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.bodycard-header{
  border-bottom: solid 1px gray;
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.bodycard-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.bodycard-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../public/tools.webp');
}

@media screen and (max-width:768px) {
  .dp {
    width: 100vw;
    height: 100%;
  }

  .pc-navbaar {
    display: none !important;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    font-size: 12px;
  }

  .mob-profile {
    display: block !important;
  }

  .top-home-cont {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
    flex-direction: column;
  }

  .profile-image {
    width: 30vw !important;
    height: 30vw !important;
    margin-bottom: -5vh !important;
  }

  .education {
    padding-top: 3rem;
  }

  .mob-navbaar {
    display: block !important;
  }

  .menu-close {
    display: block !important;
  }

  .f3 {
    font-size: 2em;
    font-weight: 900;
    color: dimgray;
  }
  
  .f4 {
    font-size: 2em;
    font-weight: 900;
    color: dimgray;
  }
  
  .f2 {
    font-size: 1.5em;
    color: black;
  }
  
  .f1 {
    font-size: 1.2em;
    color: black;
  }

  /* .nav{
    position: absolute;
    z-index: 2000;
    width: 40vw;
  } */
}

.mob-profile {
  display: none;
}

.mob-navbaar {
  display: none;
}

.menu-close {
  display: none;
}